# ----------------------------------------------------------------------------------------------------------------------
# osx-icons | Copyright (C) 2018 Ethan Pini
# ----------------------------------------------------------------------------------------------------------------------
# Mac OS
._.*
.DS_Store

# ----------------------------------------------------------------------------------------------------------------------
# Build
/*/Template/Icons/*.png

